html, body { scroll-behavior:smooth; }
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden
}

 .clearfix {
  zoom: 1
}
 .container{
   width: 1226px;
   margin-right: auto;
   margin-left: auto;
 }
 .box-hd{
   height: 58px;
 }
 .box-hd .title{
   font-size: 22px;
   font-weight: 200;
 }
